<template lang="html">
  <div class="container-md">
    <h1>Modifier le produit</h1>
    <div class="row">
      <ProductForm class="col-md-10" mode="edit"
         :attributes="attributesSelected"
         :product="product"
         @removeAttribute="removeAttribute"
         @submit="onSubmit" />
      <ProductOptions class="col-md-2" @addAttributes="onAddAttributes" />
    </div>
  </div>
</template>

<script>
  import ProductForm from '~~/components/admin/ProductForm'
  import ProductOptions from '~~/components/admin/ProductOptions'
  import { removeInArray } from '~~/services/array'

export default {
  name: "EditProduct",
  layout: 'admin',
  components: { ProductForm, ProductOptions },
  // middleware: ['AuthAdmin'],
  async asyncData({ $axios, route }) {
      let product = await $axios.$get('/products/' + route.params.slug)

      return { product }
  },
  data() {
   return {
     attributesSelected: [],
   };
  },
  methods: {
    onSubmit(product) {
      this.$axios.$put('/products/' + product.id, product)
      .then(resp => { this.$router.push('/admin/products') })
      .catch(err => { console.log(err) })
    },
    onAddAttributes(event) {
      this.attributesSelected.push(...event);
    },
    removeAttribute(event) {
      this.attributesSelected = removeInArray(this.attributesSelected, event);
    }
  }
}
</script>

<style lang="css" scoped>
</style>
