<template lang="html">
  <div class="container-md pt-3">
    <h1>Ajouter un produit</h1>
    <div class="row">
      <ProductForm class="col-md-10" mode="create" :attributes="attributesSelected" @removeAttribute="removeAttribute" @submit="onSubmit"/>
      <ProductOptions class="col-md-2" @addAttributes="onAddAttributes" />
    </div>
  </div>
</template>

<script>
  import ProductForm from '~~/components/admin/ProductForm'
  import ProductOptions from '~~/components/admin/ProductOptions'
  import { removeInArray } from '~~/services/array'

  export default {
    name: "CreateProduct",
    layout: 'admin',
    components: { ProductForm, ProductOptions },
    // middleware: ['AuthAdmin'],
    data() {
     return {
       attributesSelected: [],
     };
    },
    methods: {
      onSubmit(product) {
        this.$axios.$post('/products', product)
        .then(resp => { this.$router.push('/admin/products') })
        .catch(err => { console.log(err) })
      },
      onAddAttributes(event) {
        this.attributesSelected.push(...event);
      },
      removeAttribute(event) {
        this.attributesSelected = removeInArray(this.attributesSelected, event);
      }
    },
  }
</script>

<style lang="css" scoped>
</style>
