<template lang="html">
  <div class="container-md">
    <h1>
      Produits
      <NuxtLink to="/admin/products/create" class="btn btn-outline-primary">Nouveau</NuxtLink>
    </h1>
    <b-table striped hover :items="products" :fields="fields">
      <template #cell(discount)="data">
        {{ (data.item.discount | 0 ) + ' %' }}
      </template>
      <template #cell(active)="data">
        {{ data.item.active ? 'Oui' : 'Non' }}
      </template>
      <template #cell(action)="data">
        <NuxtLink :to="'/admin/products/' + data.item.slug">Voir</NuxtLink>
      </template>
    </b-table>
  </div>
</template>

<script>
import { checkQuantityMap } from '~~/services/product'

export default {
  layout: 'admin',
  // middleware: ['AuthAdmin'],
  async asyncData({ $axios }) {
      let products = await $axios.$get('/products')

      products = products.map(checkQuantityMap)

      return { products }
  },
  data() {
   return {
     fields: [
       { key: 'name', sortable: true, label: 'Titre' },
       // { key: 'slug', sortable: true, label: 'Slug' },
       { key: 'description', sortable: true, label: 'Description' },
       { key: 'price', sortable: true, label: 'Prix' },
       { key: 'discount', sortable: true, label: 'Réduction' },
       { key: 'quantity', sortable: true, label: 'Quantité' },
       { key: 'quantity_min', sortable: true, label: 'Quantité minimum' },
       { key: 'active', sortable: true, label: 'Actif' },
       { key: 'action', sortable: false, label: 'Actions' }
     ]
   };
  },
}
</script>

<style lang="scss" scoped>
</style>
