<template lang="html">
  <ol class="ns-breadcrumb">
    <li class="ns-breadcrumb-item" v-for="(item, i) in items" :key="i">
      <NuxtLink :to="item.href" v-if="!item.active">{{ item.text }}</NuxtLink>
      <span v-else>{{ item.text }}</span>
    </li>
  </ol>
</template>

<script>
export default {
  name: "Breadcrumb",
  props: {
    items: {
      type: Array
    }
  },
}
</script>

<style lang="scss" scoped>
.ns-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  font-size: 0.875rem;

  a {
    color: $primary-color;
  }

  &-item + &-item {
    padding-left: 0.5rem;
    &::before {
      content: $breadcrumb-item-separator;
      padding-right: 0.5rem;
    }
  }
}
</style>
