<template>
<b-navbar toggleable="lg" class="header-nav" type="dark" fixed="top">
    <b-navbar-brand v-if="title" href="/">
        {{ title }}
    </b-navbar-brand>

    <b-navbar-toggle v-b-toggle.mainMenu target="nav-collapse" />
    <b-collapse id="mainMenu" is-nav>
        <b-navbar-nav>
            <b-nav-item to="/">
                Accueil
            </b-nav-item>
            <b-nav-item to="/products">
                Produits
            </b-nav-item>
            <b-nav-item to="/admin">
                Admin
            </b-nav-item>
        </b-navbar-nav>
    </b-collapse>
</b-navbar>
</template>

<script>
export default {
    name: "TheHeader",
    props: {
        title: {
            type: String,
            default: null
        }
    }
}
</script>

<style lang="scss" scoped>
.header-nav {
  height: 66px;
  background-color: $grey-1f;
  font-size: 1.5rem;

  #mainMenu {
    .navbar-nav {
      width: 100%;
      justify-content: space-around;
    }
  }

  .navbar-brand,
  .nav-link {
    color: $white;
    text-transform: uppercase;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  .nav-link:hover {
    color: $primary-color;
  }
}
@media(max-width:991px) {
  .collapse {
    background-color: rgba(31,31,31,.8);
    padding: 1rem;
  }
}
</style>
