<template lang="html">
    <div class="container-md">
        <Breadcrumb :items="breads"></Breadcrumb>
        <h1>{{ product.name }}</h1>
        <div class="product-price">
          <span>{{ product.price }} €</span>
        </div>
        <h4>Description</h4>
        <p class="product-description">{{ product.description }}</p>
        <h4>Caractéristiques</h4>
    </div>
</template>

<script>
import Breadcrumb from '~~/components/Breadcrumb'

export default {
  components: { Breadcrumb },
  async asyncData({ $axios, route }) {
      let product = await $axios.$get('/products/' + route.params.slug);

      let breads = [
        {text: 'Accueil', href: '/'},
        {text: 'Produits', href: '/products'},
        {text: product.name, active: true },
      ];

      return { product, breads }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  margin-top: 2.8rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  text-align: center;
}
h4,
.product-price {
  margin-bottom: 1.563rem;
}
.product {
  &-price {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
  }
}
</style>
