<template lang="html">
    <div class="container-md">
        <h1>Produits</h1>
        <div class="row products">
          <div v-for="product in products" :key="product.id" class="product">
            <div class="product-title">{{ product.name }}</div>
            <div class="product-btn-group">
              <div class="product-price">
                <span>{{ product.price }} €</span>
              </div>
              <NuxtLink :to="'/products/' + product.slug" class="product-show">
                <span>Voir</span>
              </NuxtLink>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import { showOnlyActiveFilter } from '~~/services/product'

export default {
    async asyncData({ $axios }) {
        let products = await $axios.$get('/products')

        products = products.filter(showOnlyActiveFilter)

        return { products }
  }
}
</script>
<style lang="scss" scoped>
  h1 {
    margin-top: 2.8rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    text-align: center;
  }

  .products {
    justify-content: space-between;

    .product {
      display: flex;
      background-color: $grey-1f;
      min-height: 120px;
      padding: 30px;
      align-items: center;
      justify-content: space-between;
      width: calc(50% - 10px);

      &-title { font-size: 1.5rem; }

      &-btn-group {
        display: flex;
        align-items: center;
      }

      &-show,
      &-price {
        width: 128px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
      }

      &-price {
        background-color: $black;
        color: $white;

        &:hover {
          background-color: $grey-14;
          cursor: pointer;
        }
      }

      &-show {
        background-color: $primary-color;
        color: $white;

        &:hover {
          background-color: #00945f;
          text-decoration: none;
        }
      }
    }
  }
</style>
