<template lang="html">
  <div class="container-md">
    <h1>Modifier le attribut</h1>
    <AttributeForm mode="edit" :attribute="attribute" />
  </div>
</template>

<script>
  import AttributeForm from '~~/components/admin/AttributeForm'
export default {
  layout: 'admin',
  components: { AttributeForm },
  // middleware: ['AuthAdmin'],
  async asyncData({ $axios, route }) {
      let attribute = await $axios.$get('/attribute/' + route.params.id)

      return { attribute }
  }
}
</script>

<style lang="css" scoped>
</style>
