<template lang="html">
  <div class="container-md">
    <h1>Ajouter un attribut</h1>
    <AttributeForm mode="create" />
  </div>
</template>

<script>
  import AttributeForm from '~~/components/admin/AttributeForm'
  export default {
    layout: 'admin',
    components: { AttributeForm },
    // middleware: ['AuthAdmin'],
  }
</script>

<style lang="css" scoped>
</style>
