<template lang="html">
  <div class="container-md">
    <h1>
      Attributs
      <NuxtLink to="/admin/attribute/create" class="btn btn-outline-primary">Nouveau</NuxtLink>
    </h1>
    <b-table striped hover :items="attributes" :fields="fields">
      <template #cell(action)="data">
        <NuxtLink :to="'/admin/attribute/' + data.item.id">Voir</NuxtLink>
        <b-link href="#" class="shopx-link" @click="onDelete(data.item.id)">Supprimer</b-link>
      </template>
    </b-table>
  </div>
</template>

<script>
import { checkQuantityMap } from '~~/services/product'

export default {
  layout: 'admin',
  // middleware: ['AuthAdmin'],
  async asyncData({ $axios }) {
      let attributes = await $axios.$get('/attribute')

      return { attributes }
  },
  data() {
   return {
     fields: [
       { key: 'name', sortable: true, label: 'Nom' },
       { key: 'order', sortable: true, label: 'Ordre' },
       { key: 'action', sortable: false, label: 'Actions' }
     ]
   };
  },
  methods: {
    async onDelete(id) {
      this.$bvModal.msgBoxConfirm("Êtes vous sûr de vouloir supprimer l'éléments ?", {
        title: 'Confirmer la suppression',
        size: 'sm',
        buttonSize: 'sm',
        okTitle: 'Oui',
        cancelTitle: 'Non',
        headerClass: 'p-2',
        footerClass: 'p-2',
        centered: true
      }).then(async resp => {
        if (resp) {
          await this.$axios.$delete('/attribute/' + id)
          .then(resp => { this.$router.push('/admin/attribute') })
          .catch(err => { console.log(err) });
        }
      });
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
