<template>
<div class="admin">
  <div class="row h100">
    <AdminMenu class="col-1" />
    <div class="col-11 px-0">
      <b-navbar class="header-nav">
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="/">Site web</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
      <Nuxt />
    </div>
  </div>
</div>
</template>

<script>
import AdminMenu from '~~/components/admin/AdminMenu'
export default {
  components: {
    AdminMenu
  },
  mounted() {
    this.$store.dispatch('attributes/fetchAll');
  },
}
</script>

<style lang="scss" scoped>
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* Pour faire des points espacé à l'infinit */
  background-image: radial-gradient(rgba(129,116,96,.2) 1%,transparent 1px);
  background-size: 5px 5px;
  background-repeat: repeat;
  background-position: 50%;
  background-color:  $grey-2f;
  color: $white;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}
.admin {
  width: 100%;
  height: 100%;
}

.header-nav {
  height: 66px;
  background-color:  $grey-1f;

  .navbar-brand,
  .nav-link {
    color: $white;
    text-transform: uppercase;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  .nav-link:hover {
    color: $primary-color;
  }
}
</style>
