<template>
  <div>
      <TheHeader :title="appName" />
    <Nuxt class="main" />
  </div>
</template>
<script>
    import TheHeader from '~~/components/TheHeader'
    export default {
        components: {
            TheHeader
        },
        data() {
         return {
             appName: this.$config.APP_NAME
         }
        }
    }
</script>

<style lang="scss">
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* Pour faire des points espacé à l'infinit */
  background-image: radial-gradient(rgba(129,116,96,.2) 1%,transparent 1px);
  background-size: 5px 5px;
  background-repeat: repeat;
  background-position: 50%;
  background-color: $grey-2f;
  color: $white;
  font-family: 'Lora', 'Roboto', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $primary-color;
  color: $primary-color;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: $white;
  background-color: $primary-color;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #0091a8;
  color: #0091a8;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: $white;
  background-color: #0091a8;
}
.main {
  padding-top: 4.125rem;
}
p { font-size: 1.125rem; }
</style>
