<template lang="html">
  <b-nav vertical class="admin-menu">
    <div class="main-title">
      <span>{{ $config.APP_NAME }}</span>
    </div>
    <NuxtLink to="/admin" class="nav-link">Accueil</NuxtLink>
    <NuxtLink to="/admin/products" class="nav-link">Produits</NuxtLink>
    <NuxtLink to="/admin/attribute" class="nav-link">Attributs</NuxtLink>
  </b-nav>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.admin-menu {
  background-color: #00a86b;
  color: #efefef;
  a {
    color: #efefef;
    &:hover {
      color: #efefef;
    }
  }
  .main-title {
    width: 100%;
    margin: 1rem 0;
    padding-bottom: 1rem;
    & > span {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
    }
  }
}
</style>
