<template lang="html">
  <b-form @submit="onSubmit">
    <b-form-group label="Nom :" label-for="name">
      <b-form-input id="name" v-model="theAttribute.name" trim></b-form-input>
    </b-form-group>
    <b-form-group label="Ordre :" label-for="order">
      <b-form-input id="order" v-model="theAttribute.order" trim></b-form-input>
    </b-form-group>
    <div class="mt-2">
      <b-button type="submit" variant="primary">{{ submitText }}</b-button>
      <NuxtLink to="/admin/attribute/" class="btn btn-secondary">Annuler</NuxtLink>
    </div>
  </b-form>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    },
    attribute: {
      type: Object,
      default: () => {
        return {
          name: null,
          order: null,
        };
      }
    }
  },
  computed: {
    submitText() {
      if (this.mode === 'edit') {
        return 'Modifier';
      }
      return 'Créer';
    }
  },
  data() {
   return {
     theAttribute: this.attribute
   };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()

      if (this.mode === 'create') {
        this.$axios.$post('/attribute', this.theAttribute)
        .then(resp => { this.$router.push('/admin/attribute') })
        .catch(err => { console.log(err) })
      } else {
        this.$axios.$put('/attribute/' + this.theAttribute.id, this.theAttribute)
        .then(resp => { this.$router.push('/admin/attribute') })
        .catch(err => { console.log(err) })
      }
    }
  },
}
</script>

<style lang="css" scoped>
</style>
