<template lang="html">
  <b-form @submit.stop.prevent="onSubmit">
    <b-form-group label="Titre :" label-for="name">
      <input id="name" class="form-control" type="text" v-model="theProduct.name" trim></input>
    </b-form-group>
    <b-form-group label="Description :" label-for="description">
      <b-form-textarea id="description" class="form-control" v-model="theProduct.description" trim></b-form-textarea>
    </b-form-group>
    <div class="row">
      <b-form-group label="Prix :" label-for="price" class="col-md-6">
        <b-input-group append="€">
          <input id="price" class="form-control" type="number" step="0.01" min="0.00" v-model="theProduct.price" trim></input>
        </b-input-group>
      </b-form-group>
      <b-form-group label="Réduction :" label-for="discount" class="col-md-6">
        <b-input-group append="%">
          <input id="discount" class="form-control" type="number" step="0.01" min="0.00" v-model="theProduct.discount" trim></input>
        </b-input-group>
      </b-form-group>
    </div>
    <div class="row">
      <b-form-group label="Quantité :" label-for="quantity" class="col-md-6">
        <input id="quantity" class="form-control" type="number" v-model="theProduct.quantity" min="1" trim></input>
      </b-form-group>
      <b-form-group label="Quantité minimum :" label-for="quantity_min" class="col-md-6">
        <input id="quantity_min" class="form-control" type="number" v-model="theProduct.quantity_min" min="1" trim></input>
      </b-form-group>
    </div>

    <b-form-group label="Caractéristiques du produit" label-size="lg">
      <b-form-group v-for="(attribute, i) in attributes" :label="attribute.name" :key="i" label-align-md content-cols-md>
        <b-input-group>
          <input type="text" class="form-control" :name="'attr_' + attribute.id" :ref="'attr_' + attribute.id">
          <b-input-group-append>
            <b-button variant="outline-secondary" @click="onRemoveAttribute(attribute)">&times</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <span v-if="attributes.length <= 0">Aucune pour le moment</span>
    </b-form-group>

    <div class="custom-control custom-checkbox">
      <input id="active" class="custom-control-input" type="checkbox" name="active" ref="active" v-model="theProduct.active" :value="true">
      <label for="active" class="custom-control-label">Activer</label>
    </div>
    <div class="mt-2">
      <b-button type="submit" variant="primary">{{ submitText }}</b-button>
      <NuxtLink to="/admin/products/" class="btn btn-secondary">Annuler</NuxtLink>
    </div>
  </b-form>
</template>

<script>

export default {
  props: {
    mode: {
      type: String,
      default: 'create'
    },
    product: {
      type: Object,
      default: () => {
        return {
          id: null,
          name: null,
          description: null,
          price: null,
          discount: null,
          quantity: null,
          quantity_min: null,
          active: true
        };
      }
    },
    attributes: {
      type: [Array, Object],
      default: () => {
        return [];
      }
    }
  },
  data() {
   return {
     theProduct: this.product
   };
  },
  computed: {
    submitText() {
      if (this.mode === 'edit') {
        return 'Modifier';
      }
      return 'Créer';
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();

      this.$emit('submit', this.theProduct);
    },
    onRemoveAttribute(attr) {
      this.$emit('removeAttribute', attr);
    }
  },
}
</script>

<style lang="scss" scoped>
</style>
