<template lang="html">
  <div>
    <h2>Options</h2>

    <h5 class="mt-2">Caractéristiques</h5>
    <b-form-select ref="attributes" v-model="attributesSelected" :options="attributes" text-field="name" value-field="id" multiple></b-form-select>
    <b-button class="mt-2" type="button" variant="secondary" @click="onAddAttributes">Ajouter</b-button>
  </div>
</template>

<script>
export default {
  data() {
   return {
     attributesSelected: [],
   };
  },
  computed: {
    attributes() {
      return this.$store.getters['attributes/all'];
    }
  },
  methods: {
    onAddAttributes() {
      let selected = this.attributes.filter(atrr => {
        return this.attributesSelected.indexOf(atrr.id) !== -1;
      });

      this.$emit('addAttributes', selected);
    }
  },
}
</script>

<style lang="css" scoped>
</style>
